header{
  display: flex;
  
  background-color: pink;
}

.header-img{
  height: 40px;
}

.header-search{
  margin-left: 90px;
  width: 340px;
  height: 40px;
  border: 2px solid #9bce26;
  border-radius: 20px;
}