.navbar{
  display: flex;
  justify-content: center;
}

.menu{
  width: 150px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
  color: #999;
  background-color: #f8f8f8;
}